* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

html {
  background-color: #1e1e1e;
  font-family: "Inter";
  color: #fff;
  font-size: 62.5%;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  width: 90%;
  text-align: center;
  margin-top: 66px;
  border: 1px white solid;
}

.title {
  font-size: 4rem;
}

.text {
  font-size: 2.4rem;
}

div {
  width: auto;
}

.input--div {
  margin-top: 57px;
  font-size: 2.4rem;
  font-weight: bold;
}

.input__div-input {
  border: 1px white solid;
  background-color: #1f2937;
  height: 5.2rem;
  width: 38.7rem;
  border-radius: 24px;
  padding-left: 15px;
  color: white;
  margin-right: 4rem;
  font-size: 2.4rem;
  font-weight: bold;
}

.input__div-input::placeholder {
  font-size: 2.4rem;
  font-weight: bold;
}

.input__div-btn {
  background: linear-gradient(
    90deg,
    rgba(236, 72, 153, 1) 0%,
    rgba(143, 91, 242, 1) 96%,
    rgba(139, 92, 246, 1) 100%
  );
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2.4rem;
  font-weight: bold;
  border: none;
}
